services:
  db:
    image: postgres:17-alpine
    restart: unless-stopped
    volumes:
      - pg-17-data:/var/lib/postgresql/data
    env_file:
      - db.env

  pg-backup:
    image: peetvandesande/pg-backup
    environment:
      - BACKUP_CHOWN=34:34
      - BACKUP_CHMOD=0640
      - BACKUP_NAME_PREFIX=nextcloud-pg
    env_file:
      - db.env
    volumes:
      - /var/backups/sylvie:/backups

  redis:
    image: redis:6.2-alpine
    restart: unless-stopped

  app: &app
    image: nextcloud:stable-fpm-alpine
    restart: unless-stopped
    volumes:
      - ./app/php.ini:/usr/local/etc/php/php.ini:ro
      - nextcloud:/var/www/html
      - nextcloud-data:/var/www/html/data
      - nextcloud-config:/var/www/html/config
    environment:
      - REDIS_HOST=redis
    env_file:
      - db.env
    depends_on:
      - db
      - redis

  app-backup:
    image: peetvandesande/file-backup
    environment:
      - BACKUP_CHOWN=34:34
      - BACKUP_CHMOD=0640
      - BACKUP_SOURCES=/var/www/html
      - BACKUP_NAME_PREFIX=nextcloud-data
    volumes:
      - nextcloud:/var/www/html:ro
      - nextcloud-data:/var/www/html/data:ro
      - nextcloud-config:/var/www/html/config:ro
      - /var/backups:/backups

  web:
    image: nginx:mainline-alpine
    restart: unless-stopped
    logging:
      options:
        tag: "{{.Name}}"
    ports:
      - 80:80
      - 443:443
    volumes:
      - ./web/server.crt:/etc/nginx/server.crt
      - ./web/server.key:/etc/nginx/server.key
      - ./web/nginx.conf:/etc/nginx/nginx.conf
      - nextcloud:/var/www/html:ro
      - nextcloud-data:/var/www/html/data
      - nextcloud-config:/var/www/html/config
    depends_on:
      - app

  app-cron:
    <<: *app
    entrypoint: /cron.sh

volumes:
  pg-17-data:
  nextcloud:
  nextcloud-data:
  nextcloud-config:
