services:
  db:
    image: postgres:17-alpine
    restart: always
    volumes:
      - pg-17-data:/var/lib/postgresql/data
    env_file:
      - db.env

  pg-backup:
    image: peetvandesande/pg-backup
    env_file:
      - db.env
    volumes:
      - nextcloud-pg-backup:/backups

  redis:
    image: redis:6.2-alpine
    restart: always

  app: &app
    image: nextcloud:stable-fpm-alpine
    restart: always
    volumes:
      - nextcloud:/var/www/html
      - nextcloud-data:/var/www/html/data
      - nextcloud-config:/var/www/html/config
      - ./app/php.ini:/usr/local/etc/php/php.ini
    environment:
      - REDIS_HOST=redis
    env_file:
      - db.env
    depends_on:
      - db
      - redis

  web:
    image: nginx:mainline-alpine
    restart: always
    logging:
      options:
        tag: "{{.Name}}"
    ports:
      - 80:80
#       - 443:443
    volumes:
#       - ./web/server.crt:/etc/nginx/server.crt
#       - ./web/server.key:/etc/nginx/server.key
      - ./web/nginx.conf:/etc/nginx/nginx.conf
      - nextcloud:/var/www/html:ro
      - nextcloud-data:/var/www/html/data
      - nextcloud-config:/var/www/html/config
    depends_on:
      - app

  cron:
    <<: *app
    entrypoint: /cron.sh

volumes:
  pg-17-data:
  nextcloud-pg-backup:
  nextcloud:
  nextcloud-data:
  nextcloud-config:
