services:
  db:
    image: postgres:16-alpine
    restart: always
    volumes:
      - db:/var/lib/postgresql/data
    env_file:
      - db.env

  redis:
    image: redis:6.2-alpine
    restart: always

  app:
    image: nextcloud:stable-fpm-alpine
    restart: always
    volumes:
      - ./app/php.ini:/usr/local/etc/php/php.ini:ro
      - nextcloud:/var/www/html
      - nextcloud-data:/var/www/html/data
      - nextcloud-config:/var/www/html/config
      - ./app/php.ini:/usr/local/etc/php/php.ini
    environment:
      - POSTGRES_HOST=db
      - REDIS_HOST=redis
    env_file:
      - db.env
    depends_on:
      - db
      - redis

  web:
    image: nginx:alpine
    restart: always
    logging:
      options:
        tag: "{{.Name}}"
    ports:
      - "8443:443"
    volumes:
      - ./web/server.crt:/etc/nginx/server.crt
      - ./web/server.key:/etc/nginx/server.key
      - ./web/nginx.conf:/etc/nginx/nginx.conf
      - /dev/log:/dev/log
      - nextcloud:/var/www/html:ro
      - nextcloud-data:/var/www/html/data
      - nextcloud-config:/var/www/html/config
    depends_on:
      - app

  cron:
    build: ./app
    restart: always
    volumes:
      - nextcloud:/var/www/html
      - nextcloud-data:/var/www/html/data
      - nextcloud-config:/var/www/html/config
      - ./app/php.ini:/usr/local/etc/php/php.ini
    entrypoint: /cron.sh
    depends_on:
      - db
      - redis

volumes:
  db:
  nextcloud:
  nextcloud-data:
  nextcloud-config:
